@model KenticoCloud.Models.ApiServer;


<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Description</h5>
            <p class="card-text"><pre>@Model.Url</pre></p>
        </div>
    </div>
</div>